.navbar2{
    display: flex;
    height: 40px;
}

.sub-navbar{
    font-size: 13px;
    font-weight: 450;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    /* border-style: solid; */
}

.buttons{
    right: 15px;
    position: absolute;
    display: flex;
    width: 220px;
    /* border-style: solid; */
    justify-content: space-around;
}

.smallbtn{
    border-radius: 10px;
    border: 0px solid white;
}